<!-- Hero -->
<section class="container h-screen mx-auto flex">
  <div class="flex flex-col mx-auto justify-center p-6 text-center">
    <p class="my-8 text-xl md:text-2xl lg:text-3xl font-medium">
      Ejemplo de Todo App contruido con
      <svg-icon class="w-8 h-8 inline" [applyClass]="true" src="../assets/angular.svg"></svg-icon> Angular
    </p>
    <button
      routerLink="/todos"
      class="mx-auto mt-4 py-3 lg:py-5 px-10 lg:px-24 text-lg md:text-2xl font-semibold  rounded-lg shadow-md bg-white text-gray-900 border border-gray-900 hover:border-transparent hover:text-white hover:bg-gray-900 focus:outline-none"
    >
      Iniciar Sesión
    </button>
  </div>
</section>